= form_for @short_link, html: {class: 'form-inline', id: 'submit_url_form'} do |f|
  .form-group
    = f.text_field :original_url, placeholder: 'Paste a url', class: 'form-control', id: 'url_input'
  = f.submit 'Shorten', class: 'btn btn-primary', id: 'url_submit_button'
