.fill {
  min-height: 100vh;
  height: 100vh;
  background: rgb(131,58,180);
  background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,129,46,0.5522584033613445) 50%, rgba(252,176,69,1) 100%);
}